.form {
  padding: 100px;
}

.titleTrailing {
  padding-top:16px;
}

.radioWrapper {
  margin: 30px 0 !important;
}

.titleTrailingClickable {
  font-size: 16px !important;
  margin-top: 50px !important;
}

.code {
  height: 500px;
}