.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
}

.footbox {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
}
