body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media ( max-width: 767px ) {
  .not-in-mobile{
    display: none!important;
  }
  .reverse-in-mobile{
    flex-direction: column-reverse!important;
  }
  .only-in-mobile{
    display: inherit!important;
  }
  .bottom-in-mobile{
    position: relative!important;
    width:100%!important;
  }
  .wide-in-mobile{
    width:100% !important;
    margin:0 !important;
  }
}