.articles {
    width: 41%;
    align-self: center;
}

.ReviewContainer {
    font-family: 'NanumSquare', sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
}

.ReviewContainer h1 {
    margin: 0 !important;
}

.main {
    display: flex;
    flex-direction: column;
}

.createReviewLogo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.createCurationLogo {
    margin-bottom: 20px;
}

.inputData {
    background-color: rgb(230,230,230);
    padding: 1%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .articles {
        width: 100%;
    }

    #createReviewLogo {
        width: 90%;
    }

    #createCurationLogo {
        width: 90%;
    }

    .ReviewContainer {
        padding-left: 0%;
        padding-right: 0%;
    }
}
