amqp==5.1.1
asgiref==3.4.1
attrs==21.4.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
boto3==1.9.253
botocore==1.12.253
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Django==4.0.6
django-cors-headers==3.7.0
django-filter==22.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
docutils==0.15.2
drf-spectacular==0.22.1
gunicorn==20.1.0
importlib-resources==5.8.0
inflection==0.5.1
jmespath==0.10.0
jsonschema==4.7.2
kombu==5.2.4
numpy==1.23.1
prompt-toolkit==3.0.30
PyJWT==2.4.0
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0
redis==3.5.3
s3transfer==0.2.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
uritemplate==4.1.1
urllib3==1.25.11
uWSGI==2.0.20
vine==5.0.0
wcwidth==0.2.5
zipp==3.8.1
